// Navigation Styles
.sword-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  min-width: 100px;
}

.sword-background {
  width: 100%;
  min-height: 500px;
  background: url('../images/navi-sword.png') center / contain no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 24px 0;
  align-items: center;
}

.story-banner {
  width: 150px;
  background: url('../images/banner-navi.png') center / cover no-repeat;
  border: none;
  padding: 4px;
  color: #f1f2f6;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    transform: scale(1.1);
  }

  &:first-child {
    margin-top: 160px;
  }

  .story-title {
    pointer-events: none;
  }
}
