// Navigation Styles
.sword-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 0rem;
  min-width: 100px;
}

.sword-background {
  width: 100%;
  min-height: 500px;
  background: url('../images/navi-sword.png') center / contain no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-icon {
  position: absolute;
  left:25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(115, 48, 37, 0.7);
  border: 0;
  color: #f1f2f6;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background: rgba(115, 48, 37, 1);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(115, 48, 37, 0.9);
  }

  &.active {
    background: rgb(115, 48, 37);
      transform: scale(1.1);
    box-shadow: 0 0 20px rgba(115, 48, 37, 1);
  }
}
