body {
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
     color: white;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
     color: white;
}

h3 {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
     color: white;
}