
body {
  font-family: 'EB Garamond', serif;
  color: #1a1410;
  font-size: 1.5rem;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}

main {
  padding: 2rem;
}
